<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Shanti&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/canon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="search-header">
            <form class="search-form" action="./search" method="GET">
                <a href="/"><img src="{{ url_for('static', filename='./img/catekeysis.svg') }}"/></a><input type="text" name="query" value="{{ search_text }}"/>
            </form>
            </div>
            <div class="contents">
                <div class="section-header">
                    <h1>{{canon.canon_num}}</h1>
                </div>
                <div class="canon-text">
                    {{canon.content}}
                </div>
                <div class="control-block">
                    <a class="back-btn" href="{{ './search?query=' + search_text }}">‹</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <ul class="footer-links">
                    <li>Help</li>
                    <li>Feedback</li>
                </ul>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='./js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./js/catekeysis.search.js') }}"></script>
    </body>
</html>