<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='./apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='./favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='./favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='./site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='./safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Catekeysis: Canon {{canon.canon_num}}">
        <meta property="og:description" content="{{canon.canon_num}} {{canon.content}}">
        <meta property="og:url" content="https://catekeysis.herokuapp.com/canon?canon={{canon.canon_num}}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/canon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
        <title>Canon {{canon.canon_num}} - Catekeysis</title>
    </head>
    <body>
        <div class="container">
            <div class="search-header">
            <form class="search-form" action="./search" method="GET">
                <a href="/"><img class="logo" src="{{ url_for('static', filename='./img/catekeysis3.svg') }}"/></a><input type="text" name="query" value="{{ search_text }}"/><img onclick="this.parentElement.submit()" class="search-btn" src="{{ url_for('static', filename='./img/search.svg') }}"/>
            </form>
            </div>
            <div class="contents">
                <div class="section-header">
                    <h1>{{canon.canon_num}}</h1>
                </div>
                <div class="canon-text">
                    {{canon.content | safe}}
                </div>
                <div class="footnotes">
                    {% for f in footnotes %}
                    <span><sup>{{f.id}}</sup> {{f.footnote}}</span>{% if loop.index != footnotes_length %},{% endif %} 
                    {% endfor %}
                </div>
                <div class="control-block">
                    <a class="back-btn" href="{{ './search?query=' + search_text }}">‹</a>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <ul class="footer-links">
                        <li>Help</li>
                        <li>Scripture</li>
                        <li>Volunteer</li>
                        <li>Contact</li>
                        <li>About</li>
                </ul>
            </div>
            <div class="container">
                <div class="footer-info">
                    <img class="footer-logo" src="{{ url_for('static', filename='./img/catekeysis4.svg') }}">
                </div>
                <div class="footer-info">
                        Excerpts from the English translation of the Catechism of the Catholic Church for use in the
                        United States of America Copyright © 1994, United States Catholic Conference, Inc. -- Libreria
                        Editrice Vaticana. Used with Permission. English translation of the Catechism of the Catholic
                        Church: Modifications from the Editio Typica copyright © 1997, United States Conference of
                        Catholic Bishops—Libreria Editrice Vaticana.
                        <p>Only Canons 1-49 of the Catechism of the Catholic Church are available on Catekeysis at the moment. The intention is to add the rest of the canons eventually.</p>
                </div>
                <div class="footer-info">
                    <b>&#169;2019 Catekeysis. All Rights Reserved.</b>
                </div>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='./js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./js/catekeysis.search.js') }}"></script>
    </body>
</html>