<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='./apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='./favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='./favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='./site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='./safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css?family=Shanti&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
        <title>Catekeysis - Explore the Catechism of the Catholic Church with ease</title>
    </head>
    <body>
        <div class="container">
            <div class="search-box">
            <img src="{{ url_for('static', filename='./img/catekeysis.svg') }}"/>
            <form class="search-form" action="./search" method="GET">
                <input type="text" name="query"/>
                <h4>Frequently Asked Questions</h4>
                <ul class="faq-box">
                    <li><a>Do we have to go to Mass on Sunday?</a></li>
                    <li><a>What are Holy Days of Obligation?</a></li>
                    <li><a>Is the Eucharist the Body of Christ?</a></li>
                </ul>
            </form>
            </div>
        </div>
        <script src="{{ url_for('static', filename='./js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./js/catekeysis.search.js') }}"></script>
    </body>
</html>