<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='./apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='./favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='./favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='./site.webmanifest') }}">
        <link rel="mask-icon" href="{{ url_for('static', filename='./safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Search '{{search_text}}' in the CCC - Catekeysis">
        <meta property="og:description" content="{{highlight_canon_num}}...{{highlight}}...">
        <meta property="og:url" content="https://catekeysis.herokuapp.com/search?query={{search_text}}">
        <link href="https://fonts.googleapis.com/css?family=Shanti&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/search.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
        <title>Search '{{search_text}}' in the CCC - Catekeysis</title>
    </head>
    <body>
        <div class="container">
            <div class="search-header">
            <form class="search-form">
                <a href="/"><img src="{{ url_for('static', filename='./img/catekeysis2.svg') }}"/></a><input type="text" name="query" value="{{ search_text }}"/>
            </form>
            </div>
            <div class="search-results">
                {% if not has_results %}
                <div class="no-result">
                    Search terms <strong class="search-text">'{{search_text}}'</strong> returned no canons.
                </div>
                {% endif %}
                {% if has_results %}
                {% for query_result in sections %}
                <section>
                    <div class="section-header">
                        <h3>{{ query_result.title }}</h3>
                    </div>
                </section>
                <ul class="canon-list">
                    {% set section_id = loop.index0 %}
                    {% for result in query_result.results %}
                    <li class="{% if loop.index0 + section_id != 0 %}collapsed{% endif %}"><div class="wrapper"><div class="collapse-box"><b>{{ result.canon_num }}</b> {{result.content}}</div>
                    <div class="collapse-btn"></div>
                    </div>
                        <div class="control-box">
                            <a class="view-btn" href="./canon?canon={{ result.canon_num }}&query={{search_text}}">View Details</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <footer>
            <div class="container">
                <ul class="footer-links">
                    <li>Help</li>
                    <li>Feedback</li>
                    <li>About</li>
                </ul>
            </div>
            <div class="container">
                <div class="footer-info">
                        Excerpts from the English translation of the Catechism of the Catholic Church for use in the
                        United States of America Copyright © 1994, United States Catholic Conference, Inc. -- Libreria
                        Editrice Vaticana. Used with Permission. English translation of the Catechism of the Catholic
                        Church: Modifications from the Editio Typica copyright © 1997, United States Conference of
                        Catholic Bishops—Libreria Editrice Vaticana.
                </div>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='./js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='./js/catekeysis.dropdown.js') }}"></script>
        <script src="{{ url_for('static', filename='./js/catekeysis.search.js') }}"></script>
    </body>
</html>